.app-logo {
  width: 70vw;
  border-radius: 100%;
  background-color: gray;
  box-shadow: 0 0 15px 5px #ccc;
}

.app-description {
  color: $text-off-black;
  font: 20px $default;
  font-style: italic;
  margin-top: 20px;
}

.index-button-wrap {
  @include flexbox;
  flex-direction: column;
  margin-top: 20px;
}

.index-button {
  @include flexbox;
  height: 50px;
  width: 60vw;
  margin: 10px;
  border-radius: 2px;
  font: 20px $default;
  color: $text-off-black;
  background-color: white;
  box-shadow: 0 0 5px 1px #ccc;
}
