.app-logo {
  width: 70vw;
  border-radius: 100%;
  background-color: gray;
  box-shadow: 0 0 15px 5px #ccc;
}

.app-description {
  text-align: center;
  color: $waitrose-green;
  font: bold 20px $default;
  margin-top: 20px;
  
  span {
    display: block;
    margin: 5px;
  }
}

.index-button-wrap {
  @include flexbox;
  flex-direction: column;
  margin-top: 20px;
}

.index-button {
  @include flexbox;
  height: 50px;
  width: 60vw;
  margin: 10px;
  border-radius: 2px;
  font: bold 20px $default;
  color: white;
  background-color: $waitrose-green;
  box-shadow: 0 0 5px 1px #ccc;
}
