.page-header {
  width: 100%;
  height: $header-height;
}

.page-content {
  @include flexbox;
  flex-direction: column;
  min-height: calc(100vh - #{$header-height});
  width: 100%;
  background-color: #f2f2f2;
}
