.post-wrap {
  @include flexbox;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - #{$header-height});
  padding: 20px;
}

.post-box {
  position: relative;
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 0 5px 1px #ccc;
  background-color: white;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.box-title {
  position: absolute;
  top: -5px;
  left: -5px;
  padding: 5px;
  box-shadow: 0 0 5px 1px #ccc;
  font: bold 18px $default;
  color: #59882b;
  background-color: white;
}

.size {
  text-align: center;
  font: bold 18px $default;
  color: $waitrose-green;
}

.tags {
  text-align: center;
  font: bold 18px $default;
  color: $waitrose-green;
}
