// GENERAL

.post-wrap {
  @include flexbox;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - #{$header-height});
  padding: 20px;
}

.post-box {
  position: relative;
  width: 100%;
  padding: 35px 15px 15px 15px;
  border-radius: 2px;
  box-shadow: 0 0 5px 1px #ccc;
  background-color: white;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.box-title {
  position: absolute;
  top: -5px;
  left: -5px;
  padding: 5px;
  border-radius: 1px;
  box-shadow: 0 0 5px 1px #ccc;
  font: bold 18px $default;
  color: #59882b;
  background-color: white;
}

.box-header-bar {
  position: absolute;
  top: 12px;
  left: 0;
  width: calc(100% - 12px);
  height: 2px;
  background-color: #eee;
}

// BOXES

.view {
  @include flexbox;
  padding: 15px;
  color: $waitrose-green;
  font: bold 17px $default;
}

.map-icon {
  margin-right: 10px;
}

.img {
  padding: 15px;
}

.size {
  padding: 25px 15px 15px 15px;
  text-align: center;
  font: bold 17px $default;
  color: $waitrose-green;
}

.tags {
  @include flexbox;
  flex-wrap: wrap;
  padding: 30px 15px 10px 15px;
}

.tag {
  padding: 5px;
  margin: 5px;
  font: bold 15px $default;
  color: $waitrose-green;
  background-color: #eee;
}

.description {
  padding: 15px;
  font: 15px $default;
}
