.report-form {
  display: flex;
  flex-direction: column;
  width: 82vw;
  padding: 15px;
  margin: 15px 0;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 0 5px 1px #ccc;
}

.input-label {
  font: 15px $default;
  margin-bottom: 5px;
}

.button, select, .type-wrap {
  @include flexbox;
  outline: none;
  width: 100%;
  font: 15px $default;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
}

.form-button {
  height: 40px;
}

.submit-button {
  border: 0;
  background-color: $waitrose-green;
  box-shadow: 0.25px 1px 0.7px 1px grey;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.button:not(:last-child) {
  margin-bottom: 15px;
}

.description-textarea {
  height: 80px;
  resize: none;
}

.image-input {
  display: none;
}

.getting-location {
  color: orange;
}

.using-location {
  color: $waitrose-green;
}

.error-getting-location {
  color: red;
}

.type-checkbox {
  margin-right: 3px;
}

.type-wrap {
  margin: 0 0 15px;
  padding: 0;
  border: 1px solid #ccc;
  background-color: #eee;
}

.type-row {
  @include flexbox;
  margin: 8px;
}

.type-col {
  flex: 1;
  justify-content: flex-start;
  font-size: 13px;
}

.image {
  height: calc(82vw - 30px);
}

.hidden {
  display: none;
}

.danger {
  box-shadow: 0 0 5px 2px orange;
}
