.report-form {
  display: flex;
  flex-direction: column;
  width: 75vw;
  padding: 15px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 0 5px 1px #ccc;
  z-index: 1;
}
.input-label {
  font: 15px $default;
  font-weight: 500;
  margin-bottom: 2px;
}

.form-button {
  outline:none;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #eee;
  font: 15px $default;
  cursor: pointer;
  padding: 0.5em;
}

.form-button:not(:last-child) {
  margin-bottom: 15px;
}

.description-textarea {
  height: 80px;
  resize: none;
}

.image-input {
  display: none;
}
