/* SIZING */

body, div, header, section, label {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* FLEX */

body, div, header, section, a, label {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ELEMENT SPECIFIC */

body, section {
  flex-direction: column;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}
