/* SIZING */

body, div, header, section, h1, select, label, button, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* FLEX */

body, div, header, section, a, select, .form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ELEMENT SPECIFIC */

body, section {
  flex-direction: column;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

button:focus {
  outline: none;
}
