/* COLOURS */

$waitrose-green: #8BC74F;
$text-off-black: #444;

/* SIZING */

$header-height: 60px;

/* FONTS */

$default: Helvetica;

/* MIXINS */

@mixin flexbox() {
  display: flex;
  justify-content: center;
  align-items: center;
}
