{{>header}}

<section class="page-content" id="pageContent">
  <div id="myMap" class="my-map" data-token="{{token}}">Loading Map</div>
</section>

<!-- LeafletJS -->
<script
  src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
  integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
  crossorigin="">
</script>

<!-- Leaflet Geosearch plugin -->
<script src="https://unpkg.com/leaflet-geosearch@2.2.0/dist/bundle.min.js"></script>

<script type="text/javascript" src="./scripts/browse.js"></script>
