{{>header}}

<section class="page-content" id="pageContent">
  <!-- <div id="myMap" class="my-map" data-token="{{token}}" data-coords="{{coords}}">Loading Map</div> -->
  {{> map}}
</section>

<script type="text/javascript" src="./scripts/index.js"></script>
<script type="text/javascript" src="./scripts/map.js"></script>
