{{>header}}

<section class="page-content" id="pageContent">
  {{> map}}
</section>

<script type="text/javascript" src="./scripts/index.js"></script>
<script type="text/javascript" src="./scripts/map.js"></script>
