{{>header}}

<section class="page-content">
  <img class="app-logo" src="./assets/litter-logo.png" />
  <p class="app-description">
    <span>Report Waste</span>
    <span>Plan Action</span>
  </p>

  <div class="index-button-wrap">
    <a href="/report" class="index-button">Report</a>
    <a href="/browse" class="index-button">Browse</a>
  </div>
</section>

<script type="text/javascript" src="./scripts/index.js"></script>
