{{>header}}

<section class="page-content">
  <div class="post-wrap">
    <img class="post-box img" src="{{post.image_url}}" />
    <div class="post-box size">
      <span class="box-title">Size</span>
      {{post.size}}
    </div>
    <div class="post-box tags">
      <span class="box-title">Tags</span>
      TAGS HERE
    </div>
  </div>
</section>
