<!-- FORM -->
{{> header}}


<div class="select-view" id="selectView">
    <button class="material-icons close-button" id="closeButton">arrow_back
    </button>
  {{> map}}
</div>

<section class="page-content">

    <form class="report-form" id="reportForm">

      <!-- image input -->
      <img class="button form-button image hidden" id="previewImage" />
      <label class="button form-button" id="imageInputLabel" for="imageFile">Upload Image</label>

      <input class="button form-button image-input" type="file" id="imageFile" accept="image/*" name="image" />
      <input type="hidden" id="avatarUrl" name="avatarUrl" />

      <!-- location input -->
      <div class="button form-button expanded-location" id="provideLocation">

        <button class="button form-button" id="searchLocation" type="button" name="">Search Location</button>

        <button class="button form-button" id="getLocationButton" type="button" name="location">Use Current Location</button>

      </div>

      <!-- description -->
      <label class="input-label" for="descriptionInput">Description</label>

      <textarea class="button form-button description-textarea" id="descriptionInput" placeholder="Maximum 200 characters" name="description" rows="8" cols="80" maxlength="200"></textarea>

      <!-- size select -->
      <label class="input-label" for="sizeSelect">The waste fits in a...</label>

      <select class="button form-button" id="sizeSelect" name="size">
        <option value="">Choose a size</option>
        <option value="Binbag">Binbag</option>
        <option value="Wheelbarrow">Wheelbarrow</option>
        <option value="Car">Car</option>
        <option value="Small Van">Small Van</option>
        <option value="Large Van">Large Van</option>
      </select>

      <!-- type-select  -->
      <label class="input-label" for="type">Select any applicable tags</label>

      <fieldset class="type-wrap" name="type">

        <div class="type-row">
          <div class="type-col">
            <input class="type-checkbox" type="checkbox" value="1">Recyclable
          </div>
          <div class="type-col">
            <input class="type-checkbox" type="checkbox" value="2">Electronic
          </div>
        </div>

        <div class="type-row">
          <div class="type-col">
            <input class="type-checkbox" type="checkbox" value="3">Dump
          </div>
          <div class="type-col">
            <input class="type-checkbox" type="checkbox" value="4">Sharp Objects
          </div>
        </div>

        <div class="type-row">
          <div class="type-col">
            <input class="type-checkbox" type="checkbox" value="5">Hazardous Chemicals
          </div>
        </div>

      </fieldset>

      <input class="button submit-button" type="submit" value="Submit">

    </form>

</section>

<script type="text/javascript" src="./scripts/index.js"></script>
<script type="text/javascript" src="./scripts/report.js"></script>
<script type="text/javascript" src="./scripts/s3.js"></script>
<script type="text/javascript" src="./scripts/browse.js"></script>
