<!-- FORM -->
{{> header}}

<section class="page-content">
  <div class="form-wrap">

    <form class="report-form" action="/" method="post">

      <input class="form-button image-input" type="file" id="imageFile" accept="image/*" name="image" value="" placeholder="Upload Image">

      <label class="form-button" for="imageFile">Choose an image</label>

      <button class="form-button" id="getLocationButton" type="button" name="location">Submit Location</button>


    </form>

  </div>
</section>

<script type="text/javascript" src="./script/report.js"></script>
