<!-- FORM -->
{{> header}}

<section class="page-content">
  <div class="form-wrap">

    <form class="report-form" action="/" method="post">

      <!-- image input -->
      <input class="form-button image-input" type="file" id="imageFile" accept="image/*" name="image">

      <label class="input-label" for="imageInputLabel">Upload image:</label>

      <label class="form-button" id="imageInputLabel" for="imageFile">Choose an image</label>

      <!-- description -->
      <label class="input-label" for="descriptionInput">Description:</label>

      <textarea class="form-button description-textarea" id="descriptionInput" placeholder="Maximum 200 characters" name="description" rows="8" cols="80" maxlength="200"></textarea>

      <!-- <input  type="text" name="" value=""> -->

      <!-- location input -->
      <label class="input-label" for="getLocationButton">Provide location:</label>

      <button class="form-button" id="getLocationButton" type="button" name="location">Submit Location</button>

      <!-- size select -->
      <label class="input-label" for="sizeSelect">The waste fits in a:</label>

      <select class="form-button" id="sizeSelect" name="">
        <option value="binbag">Binbag</option>
        <option value="wheelbarrow">Wheelbarrow</option>
        <option value="car">Car</option>
        <option value="small-van">Small Van</option>
        <option value="large-van">Large Van</option>
      </select>
    </form>

  </div>
</section>

<script type="text/javascript" src="./scripts/report.js"></script>
