<!-- FORM -->
<div class="form-wrap">

  <form class="report-form" action="./" method="post">

      <button class="form-button get-location-button" id="getLocationButton" type="button" name="location">Submit Location</button>



  </form>

</div>
