<header class="page-header">
  <h1 class="page-header-title">{{title}}</h1>
  <button class="toggle-dropdown-button fa fa-navicon" id="toggleDropdown"></button>
</header>

<div class="nav-dropdown" id="dropdownPanel">

</div>
